@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}


body{
    background-color: rgb(68, 68, 68);
    font-family: 'Inter', sans-serif;
}

nav{
    margin: 0 auto;
    max-width: 1280px;
    margin-top: 40px;
    img{
        width: 150px;
    }
}

main{
    margin: 0 auto;
    max-width: 1280px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        color: aliceblue;
        font-size: 100px;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 55px #ffffff, 0 0 75px #ffffff;
    }
    .code{
        opacity: 0;
        width: 700px;
        height: 500px;
        background-color: black;
        padding: 20px;
        border-radius: 13px;
        margin: 100px 0;
        transition: all 1s;
        color: aqua;
        font-size: 16px;
        overflow: auto;
    }
    .animationBtn{
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 100px;
        margin-bottom: 100px;
        button{
            border: .25em solid rgb(180, 176, 255);
            padding: 1em 3em;
            color: rgb(180, 176, 255);
            font-size: 15px;
            font-weight: bold;
            background-color: rgb(61, 62, 136);
            border-radius: 1em;
            outline: none;
            box-shadow: 0 0 1em .25em rgb(180, 176, 255),
                    0 0 4em 1em rgba(123, 143, 255, 0.781),
                    inset 0 0 .75em .25em rgb(180, 176, 255);
            text-shadow: 0 0 .5em rgb(180, 176, 255);
            position: relative;
            transition: all 0.3s;
        }
        .btn-hover {
        color: rgb(61, 62, 136);
        background-color: rgb(180, 176, 255);
        box-shadow: 0 0 1em .25em rgb(180, 176, 255),
                0 0 4em 2em rgba(123, 143, 255, 0.781),
                inset 0 0 .75em .25em rgb(180, 176, 255);
        }
        .btn-active {
        box-shadow: 0 0 0.6em .25em rgb(180, 176, 255),
                0 0 2.5em 2em rgba(123, 143, 255, 0.781),
                inset 0 0 .5em .25em rgb(180, 176, 255);
        }
    }
}

.left-animation{
	position: absolute;	
	display: grid;
	grid-template-columns: 1fr 1fr;
	top: 450px;
	left: -1000px;
	transition: all 1.5s;
}
.g-1{
	background: rgba(255, 0, 0, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 0, 0, 0.3);
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.g-2{
	background: rgba(20, 0, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(20, 0, 255, 0.3);	
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.g-3{
	background: rgba(255, 0, 217, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 0, 217, 0.3);
	width: 200px;
	height: 200px;
	border-radius: 50%;
}


@keyframes blink {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}

@keyframes bounce {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes jello {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
}


@keyframes vibrate {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, 2px);
	}

	80% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}
@keyframes wobble {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes shadow {
	0% {
		box-shadow: 0 0 0 0 #ff0051;
	}

	100% {
		box-shadow: 0 0 20px 0px #ff0051;
	}
}


//footer
.path-0{
	animation:pathAnim-0 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	}

	
@keyframes pathAnim-0{
	0%{
	d: path("M 0,600 C 0,600 0,200 0,200 C 88.133971291866,199.5980861244019 176.267942583732,199.19617224880383 282,211 C 387.732057416268,222.80382775119617 511.0622009569378,246.81339712918663 599,257 C 686.9377990430622,267.1866028708134 739.4832535885168,263.55023923444975 816,259 C 892.5167464114832,254.44976076555025 993.0047846889952,248.98564593301435 1101,239 C 1208.9952153110048,229.01435406698565 1324.4976076555024,214.50717703349284 1440,200 C 1440,200 1440,600 1440,600 Z");
	}
	25%{
	d: path("M 0,600 C 0,600 0,200 0,200 C 121.34928229665073,186.08612440191388 242.69856459330146,172.17224880382778 321,189 C 399.30143540669854,205.82775119617222 434.555023923445,253.39712918660285 529,261 C 623.444976076555,268.60287081339715 777.0813397129185,236.23923444976074 892,202 C 1006.9186602870815,167.76076555023926 1083.1196172248806,131.64593301435409 1168,131 C 1252.8803827751194,130.35406698564591 1346.4401913875597,165.17703349282294 1440,200 C 1440,200 1440,600 1440,600 Z");
	}
	50%{
	d: path("M 0,600 C 0,600 0,200 0,200 C 104.36363636363635,185.58851674641147 208.7272727272727,171.17703349282297 305,189 C 401.2727272727273,206.82296650717703 489.4545454545455,256.8803827751196 571,245 C 652.5454545454545,233.11961722488041 727.4545454545454,159.30143540669857 822,145 C 916.5454545454546,130.69856459330143 1030.7272727272727,175.91387559808615 1137,195 C 1243.2727272727273,214.08612440191385 1341.6363636363635,207.0430622009569 1440,200 C 1440,200 1440,600 1440,600 Z");
	}
	75%{
	d: path("M 0,600 C 0,600 0,200 0,200 C 115.29186602870814,156.44019138755982 230.58373205741628,112.88038277511961 323,133 C 415.4162679425837,153.1196172248804 484.9569377990431,236.91866028708137 563,265 C 641.0430622009569,293.08133971291863 727.5885167464114,265.444976076555 832,245 C 936.4114832535886,224.55502392344502 1058.688995215311,211.30143540669854 1163,205 C 1267.311004784689,198.69856459330146 1353.6555023923445,199.34928229665073 1440,200 C 1440,200 1440,600 1440,600 Z");
	}
	100%{
	d: path("M 0,600 C 0,600 0,200 0,200 C 88.133971291866,199.5980861244019 176.267942583732,199.19617224880383 282,211 C 387.732057416268,222.80382775119617 511.0622009569378,246.81339712918663 599,257 C 686.9377990430622,267.1866028708134 739.4832535885168,263.55023923444975 816,259 C 892.5167464114832,254.44976076555025 993.0047846889952,248.98564593301435 1101,239 C 1208.9952153110048,229.01435406698565 1324.4976076555024,214.50717703349284 1440,200 C 1440,200 1440,600 1440,600 Z");
	}
	}


	.path-1{
		animation:pathAnim-1 4s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		}
		@keyframes pathAnim-1{
		0%{
		d: path("M 0,600 C 0,600 0,400 0,400 C 78.96650717703349,429.23444976076553 157.93301435406698,458.4688995215311 254,452 C 350.066985645933,445.5311004784689 463.23444976076564,403.35885167464113 579,383 C 694.7655502392344,362.64114832535887 813.1291866028707,364.0956937799043 893,367 C 972.8708133971293,369.9043062200957 1014.2488038277513,374.25837320574163 1099,380 C 1183.7511961722487,385.74162679425837 1311.8755980861242,392.87081339712915 1440,400 C 1440,400 1440,600 1440,600 Z");
		}
		25%{
		d: path("M 0,600 C 0,600 0,400 0,400 C 118.04784688995213,386.6411483253588 236.09569377990425,373.2822966507177 334,376 C 431.90430622009575,378.7177033492823 509.665071770335,397.5119617224881 589,406 C 668.334928229665,414.4880382775119 749.244019138756,412.66985645933016 832,428 C 914.755980861244,443.33014354066984 999.3588516746411,475.8086124401914 1101,474 C 1202.641148325359,472.1913875598086 1321.3205741626793,436.0956937799043 1440,400 C 1440,400 1440,600 1440,600 Z");
		}
		50%{
		d: path("M 0,600 C 0,600 0,400 0,400 C 99.64593301435409,372.62200956937795 199.29186602870817,345.24401913875596 290,336 C 380.70813397129183,326.75598086124404 462.47846889952154,335.6459330143541 546,357 C 629.5215311004785,378.3540669856459 714.7942583732057,412.1722488038277 811,410 C 907.2057416267943,407.8277511961723 1014.3444976076555,369.665071770335 1121,362 C 1227.6555023923445,354.334928229665 1333.8277511961724,377.1674641148325 1440,400 C 1440,400 1440,600 1440,600 Z");
		}
		75%{
		d: path("M 0,600 C 0,600 0,400 0,400 C 117.4736842105263,431.07177033492826 234.9473684210526,462.14354066985646 331,469 C 427.0526315789474,475.85645933014354 501.68421052631584,458.49760765550235 599,427 C 696.3157894736842,395.50239234449765 816.3157894736842,349.866028708134 903,342 C 989.6842105263158,334.133971291866 1043.0526315789475,364.03827751196167 1127,380 C 1210.9473684210525,395.96172248803833 1325.4736842105262,397.98086124401914 1440,400 C 1440,400 1440,600 1440,600 Z");
		}
		100%{
		d: path("M 0,600 C 0,600 0,400 0,400 C 78.96650717703349,429.23444976076553 157.93301435406698,458.4688995215311 254,452 C 350.066985645933,445.5311004784689 463.23444976076564,403.35885167464113 579,383 C 694.7655502392344,362.64114832535887 813.1291866028707,364.0956937799043 893,367 C 972.8708133971293,369.9043062200957 1014.2488038277513,374.25837320574163 1099,380 C 1183.7511961722487,385.74162679425837 1311.8755980861242,392.87081339712915 1440,400 C 1440,400 1440,600 1440,600 Z");
		}
		}